node_modules
.env
/uploads/jobs/
/uploads/profile/
/uploads/evidence/
/uploads/reports/
/uploads/chat/
/uploads/technician-documents/identity-card/
/uploads/technician-documents/selfie-with-identity-card/